@font-face {
    font-family: odin;
    src: url(./extra/Norse-Bold.otf);
}

@font-face {
    font-family: staatliches;
    src: url(./extra/Staatliches/Staatliches-Regular.ttf);
}

:root {
    --header-height: 150px;
}


body {
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.column1 {
    background-image: url(./images/leaf-background.avif);
    height: 100vh;
    min-width: 30vw;
}

.header {
    display: flex;
    height: var(--header-height);
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#header-image {
    max-height: calc(var(--header-height) - 10px);
}

.header-text {
    color: white;
    font-size: 6rem;
    font-family: 'odin';
}

.column2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: whitesmoke;
}

.column2 > * {
    padding: 0 5vw 0 5vw;
}

#general-text {
    font-weight: bold;
    color: rgb(24, 23, 23);
    padding-right: 25vw;
    padding-top: 10vh;
    font-size: 1.25rem;
}

.form {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 5px 30px 0 gray;
}

.form .form-title {
    color: rgb(58, 56, 56);
    font-weight: bold;
    font-size: 1.25rem;
}

input, label {
    display: block;
    margin-bottom: 0.2rem;
}

form {
    display: flex;
    gap: 5rem;
    justify-content: start;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

label {
    font-family: 'staatliches';
    color: rgb(71, 71, 145);
}

input {
    margin-left: 0.2rem;
    border-radius: 5px;
    border: 1px solid black;
}

#create-account {
    max-width: 10rem;
    min-height: 2.5rem;
    padding: 0;
    margin-left: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.small-text {
    color: rgb(24, 23, 23);
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

input:focus {
    outline: none;
    /* border-radius: 5px; */
    border-color: lightblue;
    box-shadow: 0 1px 30px lightblue;
}

.invalid {
    border: 1px solid red;
}

.invalid:focus {
    outline: none;
    /* border-radius: 5px; */
    border-color: red;
    box-shadow: 0 1px 5px red;
}

.valid {
    border: 1px solid green;
}

.valid:focus {
    outline: none;
    /* border-radius: 5px; */
    border-color: green;
    box-shadow: 0 1px 5px green;
}